                                $bgcolor:rgb(207, 22, 224);
                                $textcolor: black;
                                $fontsize:17px;
                                body {
                                    background-color: $bgcolor;
                                    color: $textcolor;
                                    font-size: $fontsize;
                                }
                                
                                nav {
                                    ul {
                                        margin: 0;
                                        padding: 0;
                                        list-style: none;
                                    }
                                    li {
                                        display: inline-block;
                                    }
                                    a {
                                        display: block;
                                        padding: 6px 12px;
                                        text-decoration: none;
                                    }
                                }
                                
                                @media (min-width: 576px) {
                                    .container {
                                        max-width: 540px
                                    }
                                }
                                
                                .article_form {
                                    border: 3px solid black;
                                    width: 80%;
                                    margin: 25px auto 0 auto;
                                    padding: 15px;
                                }
                                
                                label {
                                    width: 70px;
                                    margin-left: 12px;
                                }
                                
                                textarea {
                                    max-width: 50% !important;
                                    margin: auto;
                                }
                                
                                .card {
                                    width: 400px;
                                    height: 200px;
                                    border: 5px solid white;
                                }